# palindrome for string

 naman
       1. loop
       2. two pointer approach

In [43]:
data = "NAMAN"
start = 0
end = len(data)-1
print(start, data[start], end, data[end])

0 N 4 N

In [41]:
data = "NAMAN"
start = 0
end = len(data)-1
print(start, data[start], end, data[end])
start +=1
print(start , data[start], end , data[end])

0 N 4 N
1 A 4 N

In [49]:
data = "NAMAN"
start = 0
end = len(data)-1
print(start, data[start], end, data[end])
start +=1
end -= 1
print(start , data[start], end , data[end])

start +=1
end -= 1
print(start , data[start], end , data[end])

0 N 4 N
1 A 3 A
2 M 2 M

In [51]:
data = "NAMAN"
start = 0
end = len(data)-1
print(start, data[start], end, data[end])
start +=1
end -= 1
print(start , data[start], end , data[end])

start +=1
end -= 1
print(start , data[start], end , data[end])

start +=1
end -= 1
print(start , data[start], end , data[end])

0 N 4 N
1 A 3 A
2 M 2 M
3 A 1 A

In [56]:
data = "NAMAN"
start = 0
end = len(data)-1
print(start, data[start], end, data[end])
start +=1
end -= 1
print(start , data[start], end , data[end])

start +=1
end -= 1
print(start , data[start], end , data[end])

start +=1
end -= 1
print(start , data[start], end , data[end])

start +=1
end -= 1
print(start , data[start], end , data[end])

0 N 4 N
1 A 3 A
2 M 2 M
3 A 1 A
4 N 0 N

In [60]:
data = "NAMAN"
start = 0
end = len(data)-1

while (start < len(data) ):
    print(start , data[start], end , data[end])
    start += 1
    end -= 1

0 N 4 N
1 A 3 A
2 M 2 M
3 A 1 A
4 N 0 N

In [68]:
data = "NAMdN"
start = 0
end = len(data)-1

while (start < len(data) ):
    if(data[start] != data[end]):
        break
    print(start , data[start], end , data[end])
    start += 1
    end -= 1

0 N 4 N

In [76]:
data = "NAMAN"
start = 0
end = len(data)-1
x = 0

while (start < len(data) ):
    if(data[start] != data[end]):
        x=1
        break
    print(start , data[start], end , data[end])
    start += 1
    end -= 1
print()

if(x==1):
    print("string is not palindrome")
else:
    print("palindrome")

0 N 4 N
1 A 3 A
2 M 2 M
3 A 1 A
4 N 0 N

palindrome

In [74]:
data = "NAMWN"
start = 0
end = len(data)-1
x = 0

while (start < len(data) ):
    if(data[start] != data[end]):
        x=1
        break
    print(start , data[start], end , data[end])
    start += 1
    end -= 1

if(x==1):
    print("string is not palindrome")
else:
    print("palindrome")

0 N 4 N
string is not palindrome

# Q: rajrt in this how many times r is occured

In [83]:
data = "rajrt"
sat = 0
end = len(data)-1
count = 1
while(end > 0):
    if(data[sat] == data[end]):
        count += 1
    end -= 1
print(count)

2

In [19]:
data = "rajrtr"
sat = 0
end = len(data)-1
count = 1
while(end > 0):
    if(data[sat] == data[end]):
        count += 1
    end -= 1
print(count)

3

In [22]:
# list
# datatype
# collect/store
# mutiple datatype values can be store
# mututalbe  - changeable
# ordered collection of element

In [24]:
person = [10 , "heena",1890]

In [26]:
person[1]

'heena'

In [36]:
person[4]

IndexError: list index out of range

In [43]:
person[-2]

'heena'

In [49]:
mylist = [100,12,13,14,15]
mylist[0] = 70
print(mylist)    # list is mutuable ()changeable

[70, 12, 13, 14, 15]

In [51]:
mylist = [100,12,13,14,15]
mylist[5] = 70
print(mylist)

IndexError: list assignment index out of range

In [53]:
mylist = [100,12,13,14,15]
# insert = append
mylist.append(70)
print(mylist)

[100, 12, 13, 14, 15, 70]

In [57]:
mylist = [100,12,13,14,15]
mylist[0] = 50
mylist.append(70)
print(mylist)

[50, 12, 13, 14, 15, 70]

In [67]:
mylist = [100,12,13,14,15]
mylist[0] = 50
mylist.append(70)
mylist.pop()
print(mylist)

[50, 12, 13, 14, 15]

In [71]:
mylist = [100,12,13,14,15]
mylist.remove(13)
print(mylist)

[100, 12, 14, 15]

In [77]:
x= 10
del  x        # it delete the whole value of x
x

NameError: name 'x' is not defined

In [75]:
mylist = [100,12,13,14,15]
del mylist[0:2]             # 100 and 12 is delete
print(mylist)

[13, 14, 15]

In [83]:
mylist

[13, 14, 15]

In [85]:
mylist.insert(0,80)

In [89]:
mylist

[80, 13, 14, 15]

In [91]:
mylist.insert(3,80)
mylist

[80, 13, 14, 80, 15]