In [29]:
mylist = [0,1,2,4,7,14,28]
for index in range(0,len(mylist)):
    print(index,mylist[index])

    for j in range(index+1,len(mylist)):
        print(index,mylist[j])
    print("----")

0 0
0 1
0 2
0 4
0 7
0 14
0 28
----
1 1
1 2
1 4
1 7
1 14
1 28
----
2 2
2 4
2 7
2 14
2 28
----
3 4
3 7
3 14
3 28
----
4 7
4 14
4 28
----
5 14
5 28
----
6 28
----

In [25]:
mylist = [0,1,2,4,7,14,28]
target=9
for index in range(0,len(mylist)):
   

    for j in range(index+1,len(mylist)):
        if(mylist[index] + mylist[j] == target):
            print(mylist[index] , mylist[j])          # this take to much time and this is called time complexity so we 
                                                      #  go for the one loop
    print("----")

----
----
2 7
----
----
----
----
----

In [39]:
mylist = [0,1,2,4,7,14,28]
start = 0
end = len(mylist)-1
target = 9
while(start < end):
    if(mylist[start] + mylist[end] ==target):
        print(mylist[start] , mylist[end])
        break
    elif(mylist[start] + mylist[end] >target):
        end -=1
    else:
        start += 1

2 7

In [49]:
var = 'ab'
s = var[0]
st = len(var) -1
while (s<st ):
    if(var[s] == var[st]):          #h.w
        print(var[s],var[st])
        break
    elif(var[s]==var[st]):
        print("not repeat")
        st-=1
    else:
        st+=1

TypeError: '<' not supported between instances of 'str' and 'int'

# valid paranthesis imp for interview purpose

In [114]:
openb = 0
x=0
data = "()"
for char in data:
    if char=="(":
        openb = "("
       
    elif(openb):
        if(char==")" and openb=="("):
            x=1
            
    else:
        x=0
if(x==0 )   :
    print("invalid")
else:
    print("valid")

valid

In [116]:
openb = []
x=0
data = "()"
for char in data:
    if char=="(":
        openb.append(char)
       
    elif(openb):
        if(char==")" and "("==openb.pop()):
            x=1
            
    else:
        x=0
if(x==0 or len(openb) > 0 )   :
    print("invalid")
else:
    print("valid")

valid

In [118]:
openb = []
x=0
data = "(()"
for char in data:
    if char=="(":
        openb.append(char)
       
    elif(openb):
        if(char==")" and "("==openb.pop()):
            x=1
            
    else:
        x=0
if(x==0 or len(openb) > 0 )   :
    print("invalid")
else:
    print("valid")

invalid

# Test questions

In [121]:
for i in range(5, 0, -1):
    print(i)

5
4
3
2
1

In [123]:
for i in range(3, 0, -1):
    for j in range(1, 4):
        print(i, j)

3 1
3 2
3 3
2 1
2 2
2 3
1 1
1 2
1 3

In [125]:
result = 1
for i in range(1, 4):
    result *= i
    if result > 3:
        continue
    result += i
print(result)

12

In [127]:
lst = [5, 3, 2, 8]
sum = 0
for i in lst:
    if i % 2 == 0:
        sum += i
print(sum)

10

In [129]:
for i in range(1, 4):
    print(i)

1
2
3

In [131]:
result = 1
for i in range(1, 4):
    result *= i
    print(result)

1
2
6

In [133]:
lst = [5, 12, 18, 25, 30, 42, 55]
sum = 0
for i in range(0, len(lst), 3):
    sum += lst[i]
print(sum)

85

In [135]:
result = 0
for i in range(1, 6):
    for j in range(i):
        result += j
print(result)

20

In [137]:
s = 0
for i in range(10, 0, -2):
    s += i
print(s)

30

In [139]:
lst = [1, 2, 3, 4, 5]
squared_sum = 0
for i in lst:
    squared_sum += i ** 2
print(squared_sum)

55

In [141]:
lst = [2, 4, 6, 8]
x = 0
for i in lst:
    for j in range(i):
        x += 1
print(x)

20

In [143]:
x = 0
for i in range(1, 6):
    for j in range(i):
        x += i
print(x)

55

In [145]:
for i in range(1, 4):
    for j in range(1, i + 1):
        print(i * j, end=" ")

1 2 4 3 6 9

In [147]:
lst = [5, 10, 15, 20]
total = 0
for i in lst:
    total += i / 2
print(total)

25.0

In [149]:
lst = [10, 20, 30, 40, 50]
sum = 0
for i in range(1, len(lst), 2):
    sum += lst[i]
print(sum)

60

In [151]:
x = 0
for i in range(3, 0, -1):
    for j in range(1, 4):
        if i == 2:
            break
        x += i
print(x)

12

In [153]:

 
x = 1
for i in range(1, 6):
    x *= i
    if x > 10:
        break
print(x)

24

In [155]:

 
x = 0
for i in range(1, 6):
    for j in range(i):
        x += i
print(x)

55

In [157]:

 
lst = [5, 10, 15, 20]
total = 0
for i in lst:
    total += i / 2
print(total)

25.0

In [159]:

  
s = 0
for i in range(10, 0, -2):
    s += i
print(s)

30

In [161]:

 
result = 0
for i in range(1, 6):
    for j in range(i):
        result += j
print(result)

20