# TUPLES

In [2]:
# data => exactly like list
# it is immutuable
# it is orgered datatype
# duplicates values are allowed
# indexing and slicing are allowed
# denote with => ()
# different memory address so called immutuabe
# if we have different memory address it will be called immutuable. if didnt change then called mutuable 
# method of tuple 
        1. count()
        2. index()

In [4]:
x =10,20,30
print(type(x))

<class 'tuple'>

In [6]:
x =10,20,30
print(x[0:2] , type(x))

(10, 20) <class 'tuple'>

In [8]:
x = 10,20,30,10,10
x.count(10)

3

In [14]:
x = 10,20,30,10,10
print(x.index(30))

2

In [16]:
# difference between list and tuple
# list => mutuable
# tuple => immutuable
# list [] , tuple ()
# slow as ccompared to tuple  (position is change in list so...)

In [20]:
x = (10,20,30)
print(id(x))
x = x+(40,50)
print(id(x))
print(x)

1895966737920
1895989761248
(10, 20, 30, 40, 50)

# dictionary

In [23]:
# datatype
# data based on key:value pair
# key => unique identifier
# value => data
# value can bedeleted 
#  {}
#{key  : value ,  key2 : value 2}
# no index position
# key should be of immutuable datatype (memory address change)
# value shoule be of mutuable datatype ( memory address is not change)
# no index is there

In [25]:
user = {100:"tushar" , 101:"aman"}
print(user[100])
print(type(user))

tushar
<class 'dict'>

In [31]:
user = {100:"tushar" , 101:"aman"}
# insert
user[102] = "ujjwal"
user[100] = "yash"      # for update the  value
print(user)

{100: 'yash', 101: 'aman', 102: 'ujjwal'}

In [37]:
user = {100:"tushar" , 101:"aman"}
out = user.pop(100)             #pop only delete value
print(user, out)

{101: 'aman'} tushar

In [35]:
print(user)

{101: 'aman'}

In [39]:
user = {100:"tushar" , 101:"aman"}
out = user.popitem()      # popitem data delete the list thing voth (key nd value is deleted)
print(user, out)

{100: 'tushar'} (101, 'aman')

In [41]:
user = {100:"tushar" , 101:"aman"}
print("keys:" ,user.keys())
print("values:",user.values())
print("keys and values:",user.items())     #item list of tuple [()]

keys: dict_keys([100, 101])
values: dict_values(['tushar', 'aman'])
keys and values: dict_items([(100, 'tushar'), (101, 'aman')])

In [43]:
user = {100:10, 101:"aman"}
user.update({100:15 , 107:"yash"})
print(user)

{100: 15, 101: 'aman', 107: 'yash'}

In [45]:
dict = {"salary":100}
print(dict["salary"])
dict ["salary"] = dict["salary"] + 90
print(dict)

100
{'salary': 190}

In [ ]:
dt = {10:1 ,11:1 , 12:1}

In [69]:
d={}
for i in range(10,16):   #even
    if(i%2==0):
        d[i]  = 1
print(d)

{10: 1, 12: 1, 14: 1}

In [71]:
d={}
for i in range(10,16):
   
        d[i]  = 1
print(d)

{10: 1, 11: 1, 12: 1, 13: 1, 14: 1, 15: 1}

In [73]:
"hry ura"   #question
#{e:1 , u:1 , a:1}

'hry ura'

In [105]:
d = {}
a = "hey aura"

for i in a:            #method 1
    if(i=='a' or i=='e' or i=='u' ):
        d[i] = 1
print(d)

{'e': 1, 'a': 1, 'u': 1}

In [109]:
d ={}
for i in "hey ura":
    if i in  "aeiou":           #method 2
        d[i] = 1
print(d)

{'e': 1, 'u': 1, 'a': 1}

In [111]:
x = {"salary":100}
if("salary" in x):
    x["salary"] = x["salary"]+10    #update
else:
    x["salary"] = 10   #insert
print(x)

{'salary': 110}

In [113]:
x = {"rollno":100}
if("salary" in x):
    x["salary"] = x["salary"]+10    #update
else:
    x["salary"] = 10   #insert
print(x)

{'rollno': 100, 'salary': 10}

In [123]:
d = {}

for i in "hehyee ureaaa":
    if i in "aeiou":
        if i in d:
            d[i] = d[i]+1
        else:
            d[i] = 1
print(d)

{'e': 4, 'u': 1, 'a': 3}