# call by value and call by reference

In [6]:
x = 50
print(id(x))
a=x
print(id(x))

140729862078424
140729862078424

In [10]:
x = 50
a=x
print("before change",id(x),id(a))
a=30
print("after change",id(x),id(a))

before change 140729862078424 140729862078424
after change 140729862078424 140729862077784

In [12]:
x="a"
a=x
print(id(a),id(a))

140729862110432 140729862110432

# for loop

In [17]:
for i in range(0,5):
    print("hii",i)

hii 0
hii 1
hii 2
hii 3
hii 4

In [19]:
for i in range(1,7):
    print("hii",i)

hii 1
hii 2
hii 3
hii 4
hii 5
hii 6

In [31]:
for i in range(3,9,3):
    print("hii",i)

hii 3
hii 6

In [29]:
"japan"[0:5:2]

'jpn'

In [37]:
for i in range(9,3,-1):
    print("hii",i)

hii 9
hii 8
hii 7
hii 6
hii 5
hii 4

In [49]:
for num in range(2,9,2):
    
    if(num%2==0):
        print("even",num)
    else:
        print("odd",num)

even 2
even 4
even 6
even 8

In [51]:
for num in range(2,9):
    
    if(num%2==0):
        print("even",num)
    else:
        print("odd",num)

even 2
odd 3
even 4
odd 5
even 6
odd 7
even 8

In [53]:
for i in range(2,20):
    print(i)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [57]:
for i in range(97,55,-1):
    print(i)

97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56

In [87]:

for num in range(2,9):
    a = 0
    a = a + num
    print("sum of num",a)

sum of num 2
sum of num 3
sum of num 4
sum of num 5
sum of num 6
sum of num 7
sum of num 8

In [115]:
a=0
for num in range(97,66,-1):
   
    a = a + num
print("sum of num",a)

sum of num 2542

In [113]:
count = 0
for num in range(7,37):
    count += 1
   
    
    print("total numbers",count)

total numbers 1
total numbers 2
total numbers 3
total numbers 4
total numbers 5
total numbers 6
total numbers 7
total numbers 8
total numbers 9
total numbers 10
total numbers 11
total numbers 12
total numbers 13
total numbers 14
total numbers 15
total numbers 16
total numbers 17
total numbers 18
total numbers 19
total numbers 20
total numbers 21
total numbers 22
total numbers 23
total numbers 24
total numbers 25
total numbers 26
total numbers 27
total numbers 28
total numbers 29
total numbers 30

In [131]:
a = 0
for num in range(11,53):
   
    if(num%2==0):
        a = a+num
print(a)

672

In [133]:
data= "jaipur"
for i in data:
    print(i)

j
a
i
p
u
r

In [143]:
data= "jaipur"

for i in range(0,6):

    print(i,data[i])

0 j
1 a
2 i
3 p
4 u
5 r

In [151]:
data= "jaipur rajasthan"


for i in range(0,len(data)):

    print(i,data[i])

0 j
1 a
2 i
3 p
4 u
5 r
6
7 r
8 a
9 j
10 a
11 s
12 t
13 h
14 a
15 n