# nested loop

In [4]:
for i in range(1,5):
    print("student",i)
    print("hey")

student 1
hey
student 2
hey
student 3
hey
student 4
hey

In [8]:
for  i in range(1,5):
    print("student",i)

    for marks in range(1,5):
        print("subject marks  =>",marks)

student 1
subject marks  => 1
subject marks  => 2
subject marks  => 3
subject marks  => 4
student 2
subject marks  => 1
subject marks  => 2
subject marks  => 3
subject marks  => 4
student 3
subject marks  => 1
subject marks  => 2
subject marks  => 3
subject marks  => 4
student 4
subject marks  => 1
subject marks  => 2
subject marks  => 3
subject marks  => 4

In [10]:
for  i in range(5,1,-1):
    print("student",i)

    for marks in range(1,5):
        print("subject marks  =>",marks)

student 5
subject marks  => 1
subject marks  => 2
subject marks  => 3
subject marks  => 4
student 4
subject marks  => 1
subject marks  => 2
subject marks  => 3
subject marks  => 4
student 3
subject marks  => 1
subject marks  => 2
subject marks  => 3
subject marks  => 4
student 2
subject marks  => 1
subject marks  => 2
subject marks  => 3
subject marks  => 4

In [20]:
for  i in range(1,5):
    print("student",i)

    for marks in range(5,0,-1):
        print("subject marks  =>",marks)

student 1
subject marks  => 5
subject marks  => 4
subject marks  => 3
subject marks  => 2
subject marks  => 1
student 2
subject marks  => 5
subject marks  => 4
subject marks  => 3
subject marks  => 2
subject marks  => 1
student 3
subject marks  => 5
subject marks  => 4
subject marks  => 3
subject marks  => 2
subject marks  => 1
student 4
subject marks  => 5
subject marks  => 4
subject marks  => 3
subject marks  => 2
subject marks  => 1

In [32]:
for  i in range(1,5):
    print("student",i)

    for marks in range(1,i+1):
        print("subject marks  =>",marks)

student 1
subject marks  => 1
student 2
subject marks  => 1
subject marks  => 2
student 3
subject marks  => 1
subject marks  => 2
subject marks  => 3
student 4
subject marks  => 1
subject marks  => 2
subject marks  => 3
subject marks  => 4

In [82]:
for  i in range(4,1,-1):
    print("student",i)

    for marks in range(i,5):
        print("subject marks  =>",marks)

student 4
subject marks  => 4
student 3
subject marks  => 3
subject marks  => 4
student 2
subject marks  => 2
subject marks  => 3
subject marks  => 4

In [90]:
for  i in range(1,5):
    print("student",i)

    for marks in range(1,i+1):
        print("subject marks  =>",marks)
    print("-----------tea time-------")

student 1
subject marks  => 1
-----------tea time-------
student 2
subject marks  => 1
subject marks  => 2
-----------tea time-------
student 3
subject marks  => 1
subject marks  => 2
subject marks  => 3
-----------tea time-------
student 4
subject marks  => 1
subject marks  => 2
subject marks  => 3
subject marks  => 4
-----------tea time-------

In [119]:

for i in range(2,8):
    for subject in range(10,0,-1):
        print(i*subject,end = " ")
    print()

20 18 16 14 12 10 8 6 4 2
30 27 24 21 18 15 12 9 6 3
40 36 32 28 24 20 16 12 8 4
50 45 40 35 30 25 20 15 10 5
60 54 48 42 36 30 24 18 12 6
70 63 56 49 42 35 28 21 14 7

# patterns

In [159]:
for i in range(1,6):
    
    for j in range(1,6):
        print("*",end = "")
    print("")

*****
*****
*****
*****
*****

In [163]:
for i in range(1,4):
    
    for j in range(1,4):
        print(i,end = "")
    print("")

111
222
333

In [171]:
for i in range(2,5):
    
    for j in range(1,5):
        print(i,end = "")
    print("")

2222
3333
4444

In [177]:
for i in range(2,5):
    
    for j in range(1,5):
        print(j,end = "")
    print("")

1234
1234
1234

In [185]:
for i in range(2,5):
    
    for j in range(4,0,-1):
        print(j,end = "")
    print("")

4321
4321
4321

In [197]:
for i in range(4,2,-1):
    
    for j in range(4,0,-1):
        print(i,end = "")
    print("")

4444
3333

In [227]:
num = 0
for i in range(1,4):
   
    
    for j in range(1,5):
        num += 1
        
        print(num,end = " ")
    print("")

1 2 3 4
5 6 7 8
9 10 11 12

In [235]:
for  i in range(1,6):
    

    for marks in range(1,i+1):
        print("*",end = "")
    print()

*
**
***
****
*****

In [239]:
for  i in range(1,6):
    

    for marks in range(6,i,-1):
        print("*",end = "")
    print()

*****
****
***
**
*

In [255]:
for  i in range(1,6):
    

    for marks in range(1,i+1):
        print("*",end = "")
    print()
for  i in range(1,6):
    

    for marks in range(6,i,-1):
        print("*",end = "")
    print()

*
**
***
****
*****
*****
****
***
**
*

In [259]:
for  i in range(1,5):
    

    for marks in range(1,i+1):
        print(i,end = "")
    print()

1
22
333
4444

In [279]:
num = 10
for  i in range(1,4):
    

    for marks in range(1,i+1):
        print(num,end = " ")
        num += 1
    print()

10
11 12
13 14 15

In [295]:
num = 15
for  i in range(1,4):
    

    for marks in range(1,i+1):
        print(num,end = " ")
        num -= 1
    print()

15
14 13
12 11 10

In [5]:
for  i in range(1,4):
    x = 97
    
    
    

    for j in range(1,i+1):
        print(chr(x),end = "")
        x+=1
    print()

a
ab
abc

In [301]:
chr (65)

'A'

In [307]:
chr(86)

'V'

In [3]:
for  i in range(1,4):
    for j in range(65,65+i):
        print(chr(j),end = "")
        
    print()

A
AB
ABC